@import url(./estilosGenerales.css);

*{
    font-family: Roboto300;  
}
header{
    text-align: center;
}
body{
    max-width: 1440px;
}
h1{
    margin-top: 15px;
    border-bottom: 2px solid black;
    color: var(--verdeagua);
}

.cajaPrincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menuLateral{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.tblCitas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 25px;
    width: 50px;
    margin: 25px;
    text-align: center;
}
.cajaPrincipal{
    margin: 50px;
}
.menuLateral{
border: 2px solid black;
width: 20%;
border-radius: 10px;
}
.tblCaja{
    width: 79%;
    text-align: center;
    
}
.infoTd{
    border: 1px solid var(--blanco);
    border-radius: 5px;
    width: 225px;
    text-align: center;
    padding: 3px;
    background-color: var(--blanco);
    cursor: default;
    
}
th{
    border: 5px solid var(--concreto);
    background-color: var(--blanco);
    cursor: default;
    border-radius: 5px;
    width: 190px;
    text-align: center;
    
}
.btnVer{
    border:1px solid var(--amarillo);
    border-radius: 25px;
    width: 65px;
    margin: 0 0px 0 0px;
    padding: 3px;
    background-color: var(--amarillo);
    transition: all .2s ease;
    cursor: pointer;
}
.btnVer:hover{
    background-color: var(--naranja);
    border:1px solid var(--naranja);
    transform: scale(1.05);
}
thead{
    background-color: var(--silver);
    border: 2px solid var(--concreto);
    border-radius: 10px;
    padding: 5px;
    margin-right: 65px;
}
tbody{
    margin-top: 15px;
    margin-left: 5px;
    padding: 5px;
    
}

.tblCitas{
    margin-top: 25px;
    border: 2px solid var(--silver);
    border-radius: 10px;
    min-height: 600px;
    padding: 15px;
    background-color: var(--silver);
}
.tituloCaja{
    background-color: var(--silver);
    border: 2px solid var(--concreto);
    border-radius: 10px;
    color: var(--verdeagua);
}
.Pendiente{
    color: var(--amarillo);
}
.Activa{
    color: var(--verdeagua);
}
.Finalizada{
    color: var(--Rojo2);
}


